<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seeaspark">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"
        android:required="true" />

    <application
        android:name="utils.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainActionBarTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AfterWalkThroughActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme" />

        <activity
            android:name=".WalkthroughActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme" />

        <activity
            android:name=".LoginSignupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".CreateProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".AddSkillsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".VerifyIdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".QuestionnariesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".PreferencesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".SkillSelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ProfileReviewDialog"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogSlideAnim" />

        <activity
            android:name=".DisclamierDialog"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogSlideAnim" />

        <activity
            android:name=".ShortProfileDialog"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity" />

        <activity
            android:name=".BoostDialog"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".EmailVerificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ReviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".HandshakeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".SelectProfessionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".BroadcastActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity" />

        <activity
            android:name=".SelectExperienceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".SelectLanguageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".SelectSkillActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".SelectAvatarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".NotificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".TellAFriendActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".EditProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".EventsBookmarkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".EventsDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".EventsGoingListingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ShareIdeaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".CommunityBookmarkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".CommunityDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".CommentsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".NotesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".DeepLinkingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="34.247.115.251"
                    android:pathPattern=":3000"
                    android:pathPrefix="/notes"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="34.247.115.251"
                    android:pathPattern=":3000"
                    android:pathPrefix="/posts"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="34.247.115.251"
                    android:pathPattern=":3000"
                    android:pathPrefix="/share_user"
                    android:scheme="http" />
            </intent-filter>


        </activity>

        <activity
            android:name=".ShareActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity" />

        <activity
            android:name=".FullViewImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme" />

        <activity
            android:name=".OtherProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme" />

        <activity
            android:name=".AnimationDemo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActionBarTheme">

        </activity>

        <receiver
            android:name="services.DayBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name="services.NightBroadCastReceiver"
            android:exported="false" />

        <receiver android:name="services.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name="services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="utils.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>